
body{
	background-image:url("C:\\Users\\Admin\\Desktop\\mywebsite\\images\\bg4.jpg");
	background-size: 100%;
	/*background-color:#25274D;*/
	color:#555;
	font-family: 'Alegreya',serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	font-family: 'Rubik', sans-serif;
}

.para{
		padding-top:10px;
	font-family: 'Alegreya', serif;
	font-size: 20px;
	font-weight:bold;
	color:#333;
}


.bigpara{
	padding-top:10px;
	font-family: 'Alegreya', serif;
	font-size: 25px;
	font-weight:bold;
	color:#000;
}
.container1{
	padding-top:55px;
	font-family: 'Rakkas', cursive;
	background-color:#2E9CCA;
	color:#fff;
	text-align: center;
	width:100%;
	letter-spacing:0.4em;
	margin:auto;
	font-size:18px;
	overflow:hidden;
}

#navbar{
	position:fixed;
	width:100%;
	background-color:#333;
	color:#fff;

}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:15px;
	padding-right:30px;

}

#navbar a:hover{
	color:red;
}


img{
	width: 400px;
	height: auto;
}
.image {
  padding-top:40px;
  padding-bottom:40px;
  float: left;
  height: auto;
  width: 400px;
  font-family: Veranda;
}

.image2 {
  padding-top:40px;
  padding-bottom:40px;
  float: center;
  height: auto;
  width: 100%;
  font-family: Veranda;
}


.side {
	padding-top:10px;
	font-family: 'Alegreya', serif;
	font-size: 25px;
	font-weight:bold;
	color:#555;
  	padding-left:450px;
  	height:auto;
  	line-height: 40px;
}

.headings{
	font-family: 'Alegreya', serif;
	font-weight:bold; 
	letter-spacing: 0.05em;
	text-align:center;
	text-decoration:underline;
	color:#222;
	padding-bottom:30px;
	padding-top: 15px;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.img1 {
  padding: 10px;
  height:auto;
  width:650px;
}


#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}



#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	
}


}